<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello, <%= locals.firstName %> <%= locals.lastName %></p>
        <p>You have successfully registered for our <%= locals.applicationName %>.</p>
        <p>To complete the process, please enter the following confirmation code in the application:</p>
        <h2><%= locals.confirmationCode %></h2>
        <%- include('../footer/content.ejs') %>
    </body>
</html>
